@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

@layer base {
    @font-face {
        font-family: "Akzidenz Grotesk";
        font-weight: 500;
        src: url(/public/fonts/Akzidenz\ Grotesk/);
    }
}

@layer base {
    @font-face {
        font-family: "Druk";
        font-weight: 500;
        src: url(/public/fonts/Druk/DrukTextWide-Bold-Trial.otf);
    }
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:text-outline:hover {
    text-shadow: 
        -1px -1px 0 #71717a,  
        1px -1px 0 #71717a, 
        -1px 1px 0 #71717a, 
        1px 1px 0 #71717a; /* Change #000 to your desired outline color */
    -webkit-text-fill-color: transparent; /* Removes the fill color of the text */
}